.gradle/
build/
local.properties
.idea/
.DS_Store
*.hprof
captures/
.kotlin/

# iOS
iosApp/build/
iosApp/Pods/
xcuserdata/
*.xcuserstate

# Xcode
iosApp/**/xcuserdata/
iosApp/**/*.xcworkspace/xcuserdata/
DerivedData/
